<table>
  <thead>
    <th colspan="2">Ability</th>
    <th>Base Score</th>
    <th>Temp. Score</th>
    <th>Modifier</th>
  </thead>
  <tr *ngFor="let ability of state.modifiedAbilityScores">
    <td>{{ability.short}}</td>
    <td>{{ability.name}}</td>
    <td *ngIf="!editable">{{ability.baseValue}}</td><td *ngIf="editable"><input type="number" [(ngModel)]="editedScores[ability.name]" [value]="ability.baseValue"/></td>
    <td>{{ability.tempValue}}</td>
    <td>{{ability.modValue}}</td>
  </tr>
</table>
<button (click)="setEditMode()">test</button>
<button *ngIf="editable" (click)="onSaveClick()">Save</button>

<table>
  <thead>)
    <th colspan="2">Ability</th>
    <th>Base Score</th>
    <th>Temp. Score</th>
    <th>Modifier</th>
  </thead>
  <tr>
    <td>STR</td>
    <td>Strength</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>DEX</td>
    <td>Dexterity</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>CON</td>
    <td>Constitution</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>INT</td>
    <td>Intelligence</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>WIS</td>
    <td>Wisdom</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>CHA</td>
    <td>Charisma</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
</table>
