<p>ability-scores works!</p>
<table>
  <tr>
    <th colspan="2">Ability</th>
    <th>Base Score</th>
    <th>Temp. Score</th>
    <th>Modifier</th>
  </tr>
  <tr>
    <td>STR</td>
    <td>Strength</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>DEX</td>
    <td>Dexterity</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>CON</td>
    <td>Constitution</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>INT</td>
    <td>Intelligence</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>WIS</td>
    <td>Wisdom</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
  <tr>
    <td>CHA</td>
    <td>Charisma</td>
    <td>10</td>
    <td>12</td>
    <td>+1</td>
  </tr>
</table>
